/* this is to reset almost everything under the popup to a sane value */

#rikaichan-window, #rikaichan-window * {
    width: auto;
    height: auto;
    background: transparent;
    color: #FFFFFF;
    border: none !important;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: normal;
    font: normal 14px sans-serif;
    visibility: visible;
}

#rikaichan-window {
    position: absolute;
    z-index: 7777;
    border: 1px solid #D0D0D0 !important;
    padding: 4px;
    top: 5px;
    left: 5px;
    min-width: 100px;
}

/* used for word definitions */

#rikaichan-window .w-kanji {
    font-size: 18px;
    margin-right: 0.7em;
}

#rikaichan-window .w-kana {
    font-size: 18px;
}

#rikaichan-window .w-conj {
    font-size: 12px;
}

#rikaichan-window .w-freq-very-common {
    font-size: 12px;
}

#rikaichan-window .w-freq-common {
    font-size: 12px;
}

#rikaichan-window .w-freq-uncommon {
    font-size: 12px;
}

#rikaichan-window .w-freq-rare {
    font-size: 12px;
}

#rikaichan-window .w-def {
    font-size: 13px;
}

#rikaichan-window .w-title {
    font-size: 10px;
    padding: 2px;
}

#rikaichan-window .w-na-tb td {
    vertical-align: top;
    padding-right: 0.8em;
}

/* used for kanji information */

#rikaichan-window .k-main-tb {
    width: 300px;
}

#rikaichan-window .k-kanji {
    font-family: serif;
    font-size: 48px;
}

#rikaichan-window .k-eigo {
    font-size: 12px;
}

/* kanji: readings */

#rikaichan-window .k-yomi {
    font-size: 14px;
    margin: 4px 0px;
}

#rikaichan-window .k-yomi-hi {
    border: 1px solid red;
}

#rikaichan-window .k-yomi-ti {
    font-size: 11px;
}

/* kanji radical, grade, freq, strokes box */

#rikaichan-window .k-abox-tb {
    width: 120px;
    margin-bottom: 4px;
    float: right;
    clear: right;
}

#rikaichan-window .k-abox-r {
    font-size: 12px;
    text-align: center;
    padding: 1px 4px;
}

#rikaichan-window .k-abox-g {
    font-size: 12px;
    text-align: center;
    padding: 1px 4px;
}

#rikaichan-window .k-abox-f {
    font-size: 12px;
    text-align: center;
    padding: 1px 4px;
}

#rikaichan-window .k-abox-s {
    font-size: 12px;
    text-align: center;
    padding: 1px 4px;
}

/* kanji components box */

#rikaichan-window .k-bbox-tb {
    width: 120px;
    margin-bottom: 4px;
    float: right;
    clear: right;
}

#rikaichan-window .k-bbox-0a {
    vertical-align: top;
    font-size: 11px;
    padding: 1px 3px;
}

#rikaichan-window .k-bbox-0b {
    vertical-align: top;
    font-size: 11px;
    padding: 1px 3px;
}

#rikaichan-window .k-bbox-1a {
    vertical-align: top;
    font-size: 11px;
    padding: 1px 3px;
}

#rikaichan-window .k-bbox-1b {
    vertical-align: top;
    font-size: 11px;
    padding: 1px 3px;
}


/* kanji: misc index */

#rikaichan-window .k-mix-tb {
    width: 100%
}

#rikaichan-window .k-mix-td0 {
    font-size: 12px;
}

#rikaichan-window .k-mix-td1 {
    font-size: 12px;
}


/* manual query */

#rikaichan-window .q-tb td {
}

#rikaichan-window .q-w {
    border-right: 1px dotted #B0B0B0 !important;
    padding: 0px 2px;
    vertical-align: top;
    min-width: 300px;
}

#rikaichan-window .q-k {
    padding: 0px 2px;
    vertical-align: top;
}


/* EPWING */

#rikaichan-window .epwing-dic-name
{
    font-size: 12px;
    float: right;
}

#rikaichan-window sup
{
    font-size: 10px;
}

#rikaichan-window hr
{
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

/** Blue Theme **/
#rikaichan-window.rikai-blue {
    background: #5C73B8;
    &, * { color: #FFFFFF; }

    .w-kanji { color: #B7E7FF; }
    .w-kana { color: #C0FFC0; }
    .w-conj { color: #FFE0A0; }

    .w-freq-very-common { color: #00FF00; }
    .w-freq-common { color: #FFFF00; }
    .w-freq-uncommon { color: #FFA500; }
    .w-freq-rare { color: #e28cbb; }

    .w-title { background: #4C63A8; color: #FFFFFF; }

    .k-kanji { color: #B7E7FF; }
    .k-yomi { color: #C0FFC0; }
    .k-yomi-hi { color: #A0D0FF; }
    .k-yomi-ti { color: #E7FFE7; }

    .k-abox-r { background: #5A70B5; color: #FFFFFF; }
    .k-abox-g { background: #4C63A8; color: #B7E7FF; }
    .k-abox-f { background: #4C63A8; color: #B7E7FF; }
    .k-abox-s { background: #5A70B5; color: #FFFFFF; }

    .k-bbox-0a { background: #5A70B5; color: #FFFFFF; }
    .k-bbox-0b { background: #5A70B5; color: #FFFFFF; }

    .k-bbox-1a { background: #4C63A8; color: #B7E7FF; }
    .k-bbox-1b { background: #4C63A8; color: #B7E7FF; }

    .k-mix-td0 { background: #5A70B5; color: #B7E7FF; }
    .k-mix-td1 { background: #4C63A8; color: #FFFFFF; }

    .epwing-dic-name { color: #FFE0A0; }

    hr { background-color: #FFE0A0; }
}

/** Black Theme **/
#rikaichan-window.rikai-black {
    background: #000000;
    &, * { color: #FFFFFF; }

    .w-kanji { color: #7070E0; }
    .w-kana { color: #20A020; }
    .w-conj { color: #A0A0A0; }

    .w-freq-very-common { color: #00b300; }
    .w-freq-common { color: #b3b300; }
    .w-freq-uncommon { color: #b37400; }
    .w-freq-rare { color: #e28cbb; }

    .w-title { background: #303030; color: #E0E0E0; }

    .k-kanji { color: #FFFFFF; }
    .k-yomi { color: #20A020; }
    .k-yomi-hi { color: #7070E0; }
    .k-yomi-ti { color: #E0E0E0; }

    .k-abox-r { background: #505050; color: #E0E0E0; }
    .k-abox-g { background: #303030; color: #F0F0F0; }
    .k-abox-f { background: #303030; color: #F0F0F0; }
    .k-abox-s { background: #505050; color: #E0E0E0; }

    .k-bbox-0a { background: #505050; color: #E0E0E0; }
    .k-bbox-0b { background: #505050; color: #E0E0E0; }

    .k-bbox-1a { background: #303030; color: #F0F0F0; }
    .k-bbox-1b { background: #303030; color: #F0F0F0; }

    .k-mix-td0 { background: #505050; color: #F0F0F0; }
    .k-mix-td1 { background: #303030; color: #E0E0E0; }

    .epwing-dic-name { color: #A0A0A0; }

    hr { background-color: #A0A0A0; }
}

/** Light Blue Theme */
#rikaichan-window.rikai-light-blue {
    background: #E6F4FE;
    &, * { color: #000000; }

    .w-kanji { color: #3082BF; }
    .w-kana { color: #00B366; }
    .w-conj { color: #808080; }

    .w-freq-very-common { color: #00ce00; }
    .w-freq-common { color: #aaaa00; }
    .w-freq-uncommon { color: #E56717; }
    .w-freq-rare { color: #e28cbb; }

    .w-title { background: #BFE4FF; color: #000000; }

    .k-kanji { color: #000000; }
    .k-yomi { color: #00B366; }
    .k-yomi-hi { color: #00868B; }
    .k-yomi-ti { color: #000000; }

    .k-abox-r { background: #DFF1FF; color: #003D6B; }
    .k-abox-g { background: #FFFFFF; color: #003D6B; }
    .k-abox-f { background: #FFFFFF; color: #003D6B; }
    .k-abox-s { background: #DFF1FF; color: #003D6B; }

    .k-bbox-0a { background: #DFF1FF; color: #003D6B; }
    .k-bbox-0b { background: #DFF1FF; color: #003D6B; }

    .k-bbox-1a { background: #FFFFFF; color: #003D6B; }
    .k-bbox-1b { background: #FFFFFF; color: #003D6B; }

    .k-mix-td0 { background: #DFF1FF; color: #003D6B; }
    .k-mix-td1 { background: #FFFFFF; color: #003D6B; }

    .epwing-dic-name { color: #808080; }

    hr { background-color: #808080; }
}

/** Yellow Theme */
#rikaichan-window.rikai-yellow {
    background: #FFFFBF;
    &, * { color: #000000; }

    .w-kanji { color: #7070E0; }
    .w-kana { color: #20A020; }
    .w-conj { color: #A0A0A0; }

    .w-freq-very-common { color: #00ce00; }
    .w-freq-common { color: #aaaa00; }
    .w-freq-uncommon { color: #FFA500; }
    .w-freq-rare { color: #E28CBB; }

    .w-title { background: #F0F0B0; color: #000000; }

    .k-kanji { color: #000000; }
    .k-yomi { color: #20A020; }
    .k-yomi-hi { color: #CD5C5C; }
    .k-yomi-ti { color: #000000; }

    .k-abox-r { background: #FFFFE6; color: #000000; }
    .k-abox-g { background: #F7F7D0; color: #000000; }
    .k-abox-f { background: #F7F7D0; color: #000000; }
    .k-abox-s { background: #FFFFE6; color: #000000; }

    .k-bbox-0a { background: #FFFFE6; color: #000000; }
    .k-bbox-0b { background: #FFFFE6; color: #000000; }

    .k-bbox-1a { background: #F7F7D0; color: #000000; }
    .k-bbox-1b { background: #F7F7D0; color: #000000; }

    .k-mix-td0 { background: #FFFFE6; color: #000000; }
    .k-mix-td1 { background: #F7F7D0; color: #000000; }

    .epwing-dic-name { color: #A0A0A0; }

    hr { background-color: #A0A0A0; }
}
